@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(#615dad,#ffc8da);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

h1{
    font-family: lobster;
    font-size: 48px;
    margin-block-end: 20px;
    text-align: center;
}

.main,
.section__rules,
.section__play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 40px;
    width: 400px;
}

.section__play{
    max-width: 80vmin;
}

.main,
.section__rules{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: stretch;
    background-color: #283e50;
    text-align: center;
    width: 400px;
}

.img--homepage{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.description{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.btn__main{
    line-height: 2.5;
    text-decoration: none;
    color: white;
}
.btn__main--rules,
.btn__main--homepage{
    background-color: #1fcca4;
    border-bottom: 1px solid #283e50;
}
.btn--home{
    background-color: #1fcca4;
}
.btn__main--rules:hover,
.btn__main--homepage:hover,
.btn--home:hover{
    background-color: #1cbb96;
}

.btn__main--play,
.btn--restart{
    background-color: #0197f6;  
}

.btn__main--play:hover,
.btn--restart:hover{
    background-color: #0090e9;
}

.icon,
.icon--player{
    filter: invert(100%);
    width: 1em;
    height: 1em;
}

.list-images__rules {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.figure__rules {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.note__rules {
    font-style: italic;
}

.list__rules {
    width: 85%;
    list-style-position: outside;
    align-self: center;
}

.li__rule {
    text-align: left;
    padding: 2% 3% 2% 3%;
}

.navigation__play,
.order__play,
.icons,
.btn__play{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__play{
    justify-content: space-between;
}

.order__play{
    padding-right: 5px;
    font-weight: 900;
}

.btn__play{
    padding: 2%;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.table__play{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    border: 0.7px solid rgb(49, 49, 49);
}

.table__row{
    display: flex;
}

.cell{
    flex-grow: 1;
    aspect-ratio: 1/1;
    border: 0.7px solid rgb(22, 22, 22);
    opacity: 0.7;
    padding: 0%;
    margin: 0%;
    background-color: white;
    background-size: 10%;
    background-position: center;
    background-repeat: no-repeat;
}

.cell:hover,
.cell:focus{
    opacity: 0.9;
}

.board__field--circle{
    background-size: 70%;
    background-image: url(circle.svg);
    transition: background-size 150ms;
}

.board__field--cross{
    background-size: 70%;
    background-image: url(cross.svg);
    transition: background-size 150ms;
}

@media (min-width: 992px) {
    .section__rules,
    .section__play{
        width: 800px;
    }

    .list__rules{
        width: 85%;
    }

    .li--rule {
        padding: 2%;  
    }

    .figure__rules{
        width: 45%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .section__play{
        align-items: center;
        margin-top: 20px;
    }

    .navigation__play,
    .table__play{
        width: 90%;
    }

    .navigation__play{
        font-size: 26px;
        height: 60px;
    }
   
    .btn__play{
        width: 50px;
        height: 50px;
    }
    
    .img__icon{
        height: 2rem;
    }

  }