@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: linear-gradient(#615dad,#ffc8da);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

h1{
    font-family: lobster;
    font-size: 48px;
    margin-block-end: 20px;
}

.main,
.section--rules{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: stretch;
    color: white;
    box-sizing: border-box;
    background-color: #283e50;
    text-align: center;
    margin-top: 40px;
}

.img--homepage{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.description{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.btn__main{
    line-height: 2.5;
    text-decoration: none;
    color: white;
}
.btn__main--rules,
.btn__main--homepage{
    background-color: #1fcca4;
    border-bottom: 1px solid #283e50;
}
.btn__main--rules:hover{
    background-color: #1cbb96;
}
.btn__main--play{
    background-color: #0197f6;  
}
.btn__main--play:hover{
    background-color: #0090e9;
}

.icon {
    filter: invert(100%);
    width: 1em;
    height: 1em;
}
.list-images-rules {
    display: flex;
    flex-direction: column;
}
.figure--rules {
    display: flex;
    flex-direction: column;
}

.note--rules {
    font-style: italic;
}

.list--rules {
    width: 70%;
    list-style-position: inherit;
    align-self: center;

}

.li--rule {
    text-align: left;
    padding: 3%;  
}

@media (min-width: 576px) {
    .section--rules{
        width: 800px;
    }
    .list--rules {
        width: 80%;
    }
    .li--rule {
        text-align: left;
        padding: 2%;  
    }
    .list-images-rules{
        flex-direction: row; 
        flex-wrap: wrap;  
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .figure--rules{
        width: 45%;
        margin-left: 0px;
        margin-right: 0px;
    }
  }